# ============================================
# APPLICATION SETTINGS
# ============================================
ENVIRONMENT=LOCAL
SECRET_KEY=change-me
API_PORT=8000
JWT_EXPIRES_MINUTES=3600
ALGORITHM=HS256
START_PERIOD=5
EVO_URL=http://evolution-api:8080

# ============================================
# DATABASE SETTINGS (PostgreSQL)
# ============================================
DATABASE_USER=admin
DATABASE_PASSWORD=password
DATABASE_TYPE=postgresql
DATABASE_PILOT=asyncpg
DATABASE_HOST=db:5432
BD_OUTPUT_PORT=5433
DATABASE_NAME=app_db

# ============================================
# REDIS SETTINGS (Cache)
# ============================================
REDIS_CACHE_PORT=6379
REDIS_URL=redis://redis:6379/0

# ============================================
# EVOLUTION API SETTINGS
# ============================================
# Server
SERVER_PORT=8080
CLIENT_NAME=evolution

# Security
GLOBAL_API_KEY=your-secure-evo-api-key-here
ACTIVE_INSTANCE_API_KEY=api-key_de_linstance_active
ALLOWED_ORIGINS=https://IP:PORT,http://IP:PORT
FRONTEND_URL=https://ngl-clone-frontend-black.vercel.app
# Database
POSTGRES_AUTH_DB=postgresql://admin:password@db:5432/evogo_auth?sslmode=disable
POSTGRES_USERS_DB=postgresql://admin:password@db:5432/evogo_users?sslmode=disable
DATABASE_SAVE_MESSAGES=false

# Logging
WADEBUG=DEBUG
LOGTYPE=console
